 <table>
   <tbody>
 <% book.book_comments.each do |book_comment| %>
 <tr>
    <td><%= link_to(book.user) do %>
      <%= image_tag book_comment.user.get_profile_image, size:"100x100" %><br>
      <%= book_comment.user.name %>
     </td> <% end %>
    <td>　<%= book_comment.comment%></td>
     <td> <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true,class:"btn btn-danger" %></td>
  </tr>
          <% end %>
</tbody>
</table>